.parent{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 15px;
    height: 70vh;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

.child_1{
    grid-column: 1/13;
    background-color: gold;
}
.child_2{
    grid-column: 1/6;
    background-color: gold;
}
.child_3{
    grid-column: 6/13;
    background-color: gold;
}
.child_4{
    grid-column: 1/5;
    background-color: gold;
}
.child_5{
    grid-column: 5/9;
    background-color: gold;
}
.child_6{
    grid-column: 9/13;
    background-color: gold;
}
.child_7{
    grid-column: 1/4;
    background-color: gold;
}
.child_8{
    grid-column: 4/7;
    background-color: gold;
}
.child_9{
    grid-column: 7/10;
    background-color: gold;
}
.child_10{
    grid-column: 10/13;
    background-color: gold;
}
.child_11{
    grid-column: 1/3;
    background-color: gold;
}
.child_12{
    grid-column: 3/5;
    background-color: gold;
}
.child_13{
    grid-column: 5/7;
    background-color: gold;
}
.child_14{
    grid-column: 7/9;
    background-color: gold;
}
.child_15{
    grid-column: 9/11;
    background-color: gold;
}
.child_16{
    grid-column: 11/13;
    background-color: gold;
}
.child_17{
    grid-column: 1/2;
    background-color: gold;
}
.child_18{
    grid-column: 2/3;
    background-color: gold;
}
.child_19{
    grid-column: 3/4;
    background-color: gold;
}
.child_20{
    grid-column: 4/5;
    background-color: gold;
}
.child_21{
    grid-column: 5/6;
    background-color: gold;
}
.child_22{
    grid-column: 6/7;
    background-color: gold;
}
.child_23{
    grid-column: 7/8;
    background-color: gold;
}
.child_24{
    grid-column: 8/9;
    background-color: gold;
}
.child_25{
    grid-column: 9/10;
    background-color: gold;
}
.child_26{
    grid-column: 10/11;
    background-color: gold;
}
.child_27{
    grid-column: 11/12;
    background-color: gold;
}
.child_28{
    grid-column: 12/13;
    background-color: gold;
}